.s1
{  float: none;
    width: 600px;
    height: 400px;
}

.s2
{   float: none;
    float: left;
    width: 600px;
    height: 400px;
}
.s3
{   float: none;
    width: 600px;
    height: 400px;
}
.s4
{   float: none;
    width: 600px;
    height: 400px;
}
.s5
{
    float:none;
    width: 600px;
    height: 400px;
}
.s6
{   float: none;
    width: 600px;
    height: 400px;
}


html{
    background-color: aqua;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    height: 60px;
    padding-top: 5px;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }


  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #s1{
    border:solid;
    padding:20px;
    grid-area:s1;
}

#s2{
    border:solid;
    padding:20px;
    grid-area:s2;
    float: left; 
    margin: 5px;
}
footer>img:hover{
  transform: rotate(180deg) scale(1.2);
  animation-play-state:paused;
}

#s3{
    border:solid;
    padding:20px;
    grid-area:s3;
}

#s4{
    border:solid;
    padding:20px;
    grid-area:s4;
}

#s5{
    border:solid;
    padding:20px;
    grid-area:s6;
}

#s6{
    border:solid;
    padding:20px;
    grid-area:s6;
}

.grid-container > section {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  #s1 {
    grid-area: s1;
  }
  #s2 {
    grid-area: s2;
  }
  #s3 {
    grid-area: s3;
  }
  #s4 {
    grid-area: s4;
  }
  #s5 {
    grid-area: s5;
  }
  #s6 {
    grid-area: s6;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas:
    's5 s5 s5 s5 s5 s5'
    's6 s3 s3  s3 s4 s4'
    's6  s1 s1 s1 s1 s1'
    's2  s2 s2 s2 s2 s2';
    grid-gap: 10px;
    background-color: aqua;
    padding: 10px;
  }

  footer > img{
    transition: transform 3s;
    animation-name:deplasare;
    animation-duration:7s;
    animation-delay:0s;
    animation-iteration-count:infinite;
    animation-direction:alternate;
    position:relative;
    right: 10px;
    bottom: 10px;
    height: 70px;
}

.logo_echipa
{
  height: 203px;
  width: 150px;
  position: fixed;
  visibility: visible;
  bottom: 42px;
  right: 10px;
}

@keyframes deplasare {
  0%{right:0%;}
  100%{right:100%;}
}
footer{
  text-align: right;
}

*
{
  margin: 0;
  padding: 0;
}

header
{
  background-color: #006666;
  height: 70px;
  padding-left:10px;
  padding-top: 10px;
}